<!-- derived from layout -->
{% extends "layout.html" %} {% block content %}
<h2>Add New Quote</h2>
<form action="{{ url_for('submit_quote') }}" method="post">
  <p class="heading">Author: <input type="text" name="author" /></p>
  <p class="heading">
    Quote: <textarea rows="5" cols="50" name="quote"></textarea>
  </p>
  <p><input type="submit" value="Add Quote" /></p>
</form>

<h2>Quotes List</h2>
<ul>
  {% for quote in quotes %}
  <li>"{{ quote.text }}" - {{ quote.author }}</li>
  {% endfor %}
</ul>
{% endblock %}
